@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Compras</title>
    <link href="~/css/tabela.css" rel="stylesheet" />
</head>
<body>
    <h2>Tabela de Compras</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Produto</th>
                <th>Valor</th>
                <th>Data da Compra</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Produto A</td>
                <td>R$ 100,00</td>
                <td>2024-06-13</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Produto B</td>
                <td>R$ 50,00</td>
                <td>2024-06-12</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Produto C</td>
                <td>R$ 75,00</td>
                <td>2024-06-11</td>
            </tr>
        </tbody>
    </table>

</body>
</html>
