@model EmprestimoModel
@{
    ViewData["title"] = "Cadastrar Empréstimos"; /*Alterando o nome que aparece do lado do favicon*/

}

<div class="container bg-dark p-5 rounded-5">
    <div class="mb-5 text-center">
        <h1 class="mb-5 text-center text-light fw-bold">
            Cadastro de Empréstimos
        </h1>
    </div>
    <form method="post" asp-controller="Emprestimo" asp-action="Cadastrar">
      <div class="form-group">
        <label for="Recebedor" class="form-label text-light">Recebedor:</label>
        <!--
            asp.for está indicando o campo que deve ser preenchido na tabela do banco de dados 
            além de mostrar para o metodo Cadastrar-Post na Controller oq é para receber, tudo possivel
            graças ao EmprestimoModel que tem toda a estrutura do banco pré estruturada
        -->
        <input type="text" class="form-control text-light" asp-for="Recebedor" id="Recebedor" placeholder="Quem está recebendo o livro?">
        <!--
              a parte do asp.validation.for está mandando o computador analisar 
              a mensagem de erro do EmprestimoModel
        -->
            <span asp-validation-for="Recebedor" class="text-danger"></span>
      </div>
      <div class="form-group">
            <label for="Fornecedor" class=" text-light">Fornecedor:</label>
            <input type="text" class="text-light  form-control" asp-for="Fornecedor" id="Fornecedor" placeholder="Quem  está emprestando o livro?">
            <span asp-validation-for="Fornecedor" class="text-danger"></span>
      </div>
      <div class="form-group">
            <label for="Livro" class="text-light">Livro:</label>
            <input type="text" class="form-control text-light" id="Livro" asp-for="LivroEmprestado" placeholder="Qual o livro que está sendo emprestado?">
            <span asp-validation-for="LivroEmprestado" class="text-danger"></span>
      </div>
      <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success w-50">Adicionar</button>
            <button type="submit" class="btn btn-primary w-50" asp-action="Index" asp-controller="Emprestimo">Voltar</button>
      </div>
    </form>
</div>
