@{
    ViewData["Title"] = "PRIMEIRA PÁGINA ASP.NET";
}
<div>
    <input type="text" placeholder="Digite seu nome:"/>
    <input type="file"/>
    <input type="color"/>
    <input type="range"/>
    <input type="date"/>
    <input type="checkbox"/>
    <input type="radio"/>
</div>