@{
    ViewData["Title"] = "Home Page";
}
    <head>
        <link href="~/css/site.css" rel="stylesheet" />
    </head>
    
    
    <div>
        <img src="~/michael-afonso-z8tul255kgg-unsplash.jpg" id="banner" />
    
    </div>

<div id="info">
    <div class="container-info">
        <h5>Pague online</h5>
        <img src="~/pexels-matt-hardy-14288495.jpg" />
        <span class="text-info">Use o Mercado Pago.</span>
    </div>
    <div class="container-info">
        <h5>Receba o produto</h5>
        <img src="~/pexels-gabriel-groza-16956596.jpg" />
        <span class="text-info">Calcule o custo e o tempo de entrega !</span>
    </div>
    <div class="container-info">
        <h5>Proteja a sua compra</h5>
        <img src="~/pexels-efe-ersoy-20144127.jpg" />
        <span class="text-info">Receba o produto que está esperando</span>
    </div>
</div>