@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-2">Empréstimo de Livros</h1>
    <p>CRUD com MYSql e ASP.NET</a>.</p>
   <div>
       <img src="/img/livro.png"/>
   </div>
</div>
